* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;

}

.logo {
    color: white
}

span {
    color: violet;
}

.menu {
    display: flex;
    align-items: center;

}

.menu li {
    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px 20px;

}

.menu .active {
    color: violet;
}

.menu a:hover {
    background-color: violet;
    color: black;
    transition: ease-in .4s;
}

.main {
    margin: 0 auto;

    align-items: center;
    outline: 1px solid red;
    max-width: 1000px;
}

.billboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    outline: 5px solid orange;
    margin: 0 auto;
    padding: 0 24px
}

@media only screen and (max-width: 758px) {
    .billboard {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.info-content {
    outline: 1px solid purple;
}

.profile {
    outline: 1px solid greenyellow;
}

h1 {
    color: white;
    font-size: 3em;
}



.description {
    color: white;

}

.profile img {
    max-width: 400px;
    max-height: 300px;
    border-radius: 80px;
}

.download-cv {
    padding: 10px 20px;
    background-color: violet;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(76, 40, 130, .70)
}