*{
    margin: 0;
    padding: 0;
  }
  
.wrapper {
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;
}


.logo {
    color: white
}

span {
    color: violet;
}

.menu {
    text-decoration: none;
    display: flex;
    align-items: center;
    outline: 1px solid red;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px 20px;

}

.menu .active {
    color: violet;
}

.menu a:hover {
    background-color: violet;
    color: black;
    transition: ease-in .4s;
}

.main {
    margin: 0 auto;

    align-items: center;

    max-width: 1000px;
    outline: solid red;

}

.profile {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(1, 2fr);
    outline: 10px solid orange;
}

@media only screen and (max-width: 600px) {
    .profile {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 2fr);

    }
}


h1 {
    color: white;
    font-size: 3em;
}

.description {
    color: white;
    font-size: 20px;
}

.profile img {
    padding: 10px 10px;
    max-width: 400px;
    max-height: 300px;
    border-radius: 80px;
    outline: solid purple;

}

.download-cv {
    padding: 20px 20px;
    background-color: violet;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;

}